body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
color:white;
}
#splash{
position:fixed;
width:100%;
height:100vh;
background:#0f2027;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
z-index:999;
}
header{
display:flex;
align-items:center;
gap:10px;
background:#111;
padding:15px;
}
header button{
background:none;
border:none;
color:white;
font-size:22px;
}
#sidebar{
position:fixed;
left:-250px;
top:0;
width:250px;
height:100%;
background:#111;
padding-top:60px;
transition:.3s;
}
#sidebar a{
display:block;
padding:15px;
cursor:pointer;
}
.app{padding:20px}
.page{display:none}
.page.active{display:block}
.card{
display:flex;
justify-content:space-between;
background:rgba(255,255,255,.1);
padding:12px;
margin:8px 0;
border-radius:10px;
}
.activePrayer{
background:linear-gradient(135deg,#00c6ff,#0072ff);
}
#compass{
font-size:80px;
text-align:center;
margin-top:30px;
transition:1s;
}
.dark{
background:#121212;
}
